<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Borano - Photography / Portfolio Template</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="img/favicon.png">
		<!-- plugins' css -->
		<link rel="stylesheet" href="css/plugins.css">
		<!-- google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300%7cPoppins:400,300,500,700,600' rel='stylesheet' type='text/css'>
		<!-- main css file -->
		<link rel="stylesheet" href="css/main.css">
		<!-- modernizr -->
		<script src="js/lib/modernizr-2.6.2.min.js"></script>
	</head>

	<body>
		<!-- MAIN_WRAPPER -->
		<div class="main-wrapper animsition">

			<!-- HEADER -->
			<header id="header">
				<!-- LOGO -->
				<a href="index.html" class="logo">
					<img src="img/logo.png" class="logo-dark" alt="">
					<img src="img/logo-light.png" class="logo-light" alt="">
				</a>
				<!-- MOBILE MENU ICON -->
				<a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
				<!-- MENU -->
				<nav>
					<ul class="main-menu">
						<li>
							<a href="index.html">home</a>
							<ul>
								<li><a href="index-thumbnails.html">thumbnails</a></li>
								<li><a href="index-slideshow.html">slideshow</a></li>
								<li><a href="index-slider.html">slider</a></li>
								<li><a href="index-horizontal.html">horizontal</a></li>
								<li><a href="index-horizontal-centered.html">horizontal centered</a></li>
								<li><a href="index-horizontal-video.html">horizontal video</a></li>
								<li><a href="index-fullscreen-lightbox.html">fullscreen lightbox</a></li>
								<li><a href="index-kenburns.html">kenburns</a></li>
								<li><a href="index-video.html">video</a></li>
								<li><a href="index-image.html">image</a></li>
								<li>
									<a href="landing1.html">landing</a>
									<ul>
										<li><a href="landing1.html">landing 1</a></li>
										<li><a href="landing2.html">landing 2</a></li>
										<li><a href="landing3.html">landing 3</a></li>
										<li><a href="landing-video.html">landing video</a></li>
									</ul>
								</li>
								<li><a href="index-gallery.html">gallery</a></li>
								<li><a href="index-portfolio.html">portfolio</a></li>
								<li><a href="index-video-portfolio.html">video portfolio</a></li>
							</ul>
						</li>
						<li>
							<a href="portfolio-3-cols.html">portfolio</a>
							<ul>
								<li><a href="portfolio-2-cols.html">2 columns</a></li>
								<li><a href="portfolio-3-cols.html">3 columns</a></li>
								<li><a href="portfolio-4-cols.html">4 columns</a></li>
								<li><a href="portfolio-fullwidth.html">fullwidth</a></li>
								<li><a href="portfolio-grid.html">classic grid</a></li>
								<li><a href="portfolio-portrait.html">portrait</a></li>
								<li><a href="portfolio-wide.html">wide</a></li>
								<li><a href="portfolio-lightbox.html">lightbox</a></li>
								<li><a href="portfolio-filter.html">filter</a></li>
								<li>
									<a href="portfolio-single1.html">portfolio single</a>
									<ul>
										<li><a href="portfolio-single1.html">style 1</a></li>
										<li><a href="portfolio-single2.html">style 2</a></li>
										<li><a href="portfolio-single3.html">style 3</a></li>
										<li><a href="portfolio-single4.html">style 4</a></li>
										<li><a href="portfolio-single5.html">style 5</a></li>
										<li><a href="portfolio-single6.html">style 6</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="gallery-justified.html">gallery</a>
							<ul>
								<li><a href="gallery-justified.html">justified</a></li>
								<li><a href="gallery-justified-fullwidth.html">justified fullwidth</a></li>
								<li><a href="gallery-albums.html">albums</a></li>
								<li><a href="gallery-albums-fullwidth.html">albums fullwidth</a></li>
								<li><a href="gallery-masonry.html">masonry</a></li>
								<li><a href="gallery-masonry-fullwidth.html">masonry fullwidth</a></li>
								<li><a href="gallery-grid.html">grid</a></li>
								<li><a href="gallery-grid-fullwidth.html">grid fullwidth</a></li>
								<li><a href="index-horizontal.html">horizontal</a></li>
								<li><a href="index-horizontal-centered.html">horizontal centered</a></li>
								<li><a href="index-horizontal-video.html">horizontal video</a></li>
								<li><a href="index-fullscreen-lightbox.html">fullscreen lightbox</a></li>
							</ul>
						</li>
						<li>
							<a href="about-us.html">about</a>
							<ul>
								<li><a href="about-us.html">about us</a></li>
								<li><a href="about-me.html">about me</a></li>
								<li><a href="about-minimal.html">about minimal</a></li>
							</ul>
						</li>
						<li>
							<a href="blog-boxed.html">blog</a>
							<ul>
								<li><a href="blog-fullwidth.html">blog fullwidth</a></li>
								<li><a href="blog-boxed.html">blog boxed</a></li>
								<li><a href="blog-post.html">blog post</a></li>
							</ul>
						</li>
						<li>
							<a href="contact-us.html">contact</a>
							<ul>
								<li><a href="contact-us.html">contact us</a></li>
								<li><a href="contact-me.html">contact me</a></li>
								<li><a href="contact-minimal.html">contact minimal</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			<!-- /HEADER -->

			<!-- HERO -->
			<div class="container fullwidth pt140 pb140" data-background="http://placehold.it/1920x1280">
				<div class="pt140 pb140">

					<div class="entrance">
						<h2 class="title">Together we're invincible</h2>
						<p class="separator"></p>
						<p class="small capitalize serif">13 june, 2016</p>
					</div>
					
				</div>
			</div>
			<!-- /HERO -->
		

			<!-- POST CONTENT -->
			<div class="container mt70 mb70 text-center equal-height-cols">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h3 class="title mb0">The Beginning</h3>
						<p class="separator mt20 mb20"></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate consectetur molestias fugit ipsum itaque quod minima, veniam excepturi voluptas eum quibusdam illum quasi quae dolor temporibus dolore eveniet ullam! Animi!</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae ipsum placeat adipisci pariatur, officiis recusandae sapiente et libero soluta!</p>
						
						<!-- YOUTUBE VIDEO -->
						<div class="video-container mt70">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/I5sJhSNUkwQ" frameborder="0" allowfullscreen></iframe>
						</div>

						<!-- BLOCKQUOTE -->
						<blockquote class="mt90">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae quo, suscipit accusamus laboriosam fugiat, perferendis dolorem numquam fuga ea vitae.</p>
							<footer>Vinme Mesxi Meleqse</footer>
						</blockquote>
					</div>
				</div>
			</div>
			
			<!-- GALLERY -->
			<div class="container text-center">
				<h3 class="title">Gallery</h3>
				<p class="separator"></p>

				<div class="grid gallery mt70" data-gutter="0" data-columns="4">

					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>
					<div class="grid-item">
						<a href="http://placehold.it/800x600" data-background="http://placehold.it/800x600" data-rel="lightcase:gal" title="Image Caption"></a>
					</div>

				</div>					
			</div>
			<!-- /GALLERY -->
			
			<!-- PAGE NAVIGATION -->
			<div class="page-navigation">
				<a href="#" title="prev"><i class="fa fa-arrow-left"></i></a>
				<a href="#" title="all"><i class="fa fa-th"></i></a>
				<a href="#" title="next"><i class="fa fa-arrow-right"></i></a>
			</div>	
			<!-- /PAGE NAVIGATION -->
		
			<!-- FOOTER -->
			<footer id="footer" class="has-border">
				
				<!-- FOOTER LINKS -->
				<div class="footer-links">
					&copy; 2016. By AchtungThemes. |
					<a href="#">Facebook</a> |
					<a href="#">Instagram</a> | 
					<a href="#">500px</a>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>	
		<!-- /MAIN-WRAPPER -->
		
		<!-- js -->
		<script src="js/lib/jquery.min.js"></script>
		<script src="js/lib/scripts.js"></script>
		<!-- main js -->
		<script src="js/main.js"></script>

	</body>
</html>