<!-- HEADER -->
			<header id="header">
				<!-- LOGO -->
				<a href="#" class="logo">
					<img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-dark" alt="">
					<img src="{{ url_for('static', filename='img/logo-light.png') }}" class="logo-light" alt="">
				</a>
				<!-- MOBILE MENU ICON -->
				<a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
				<!-- MENU -->
				<nav>
					<ul class="main-menu">
						<li>
							<a href="#">home</a>
						</li>

					</ul>
				</nav>
			</header>
<!-- /HEADER -->