<!-- HEADER -->
			<header id="header">
				<!-- LOGO -->
				<a href="index.html" class="logo">
					<img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-dark" alt="">
					<img src="{{ url_for('static', filename='img/logo-light.png') }}" class="logo-light" alt="">
				</a>
				<!-- MOBILE MENU ICON -->
				<a href="#" class="mob-menu"><i class="fa fa-bars"></i></a>
				<!-- MENU -->
				<nav>
					<ul class="main-menu">
						<li>
							<a href="index.html">home</a>
						</li>
						<li>
							<a href="blog-boxed.html">blog</a>
							<ul>
								<li><a href="blog-fullwidth.html">blog fullwidth</a></li>
								<li><a href="blog-boxed.html">blog boxed</a></li>
								<li><a href="blog-post.html">blog post</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
<!-- /HEADER -->